* {
  margin: 0px;
  font-family:'font;
}
@font-face {
  font-family:'font';
  src: url(source/Exo2.0-Thin.otf);
}
body {
  background-image:url(source/Pattern.png);
  display: flex;
  justify-content: center;
  align-items: center;
}
h1{
  color: white;
}
.card{
  position:absolute;
  text-align: center;
  
}
.fuagra{
  text-align: center;
  position: absolute;
  top:30px;
  left:40px;
  

}



