* {
  margin: 0px;
  font-family: 'font';
    --background-color: rgb(22, 152, 217);
}

@font-face {
  font-family: 'font';
  src: url(source/Exo2.0-Thin.otf);
}

body {
  background-image: url(source/Pattern.png);
  display: flex;
  justify-content: center;
  align-items: center;

}

span {
  color: #ffffff;
  font-size: 36px;
}

.container {
  text-align: center;

}

.cards {
  display: flex;
  position: relative;
}

.card{
  background-image: url(source/Photo.png);
  margin: 4em;
  height: 30em;
  width: 20em;
  background-size:cover;
  border-radius: 1em;
  clip-path: polygon(16% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 11%);
  border: .3em solid var(--background-color);
  position: relative;
  isolation: isolate;
}


.card::after,.card::before{
  content:'';
  position: absolute;
  inset:0;
}
.card::before{
  background-color:var(--background-color) ;
  z-index:-2;
}
.card::after{
  background-image: url(source/Photo.png);
  background-size: cover;
  border-radius: .7em;
  z-index: -1;
  clip-path: polygon(16% 0, 100% 0, 100% 50%, 100% 100%, 0 100%, 0 11%);
}